.Dropdown {
  position: relative;
}

.Dropdown__content {
  min-width: 255px;
  position: absolute;
  top: 50px;
  background: var(--color-white);
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.Dropdown__content--open {
  display: block;
}

.Dropdown__content li {
  cursor: pointer;
  padding: 12px 24px;
}

.Dropdown__content li:not(:last-child) {
  border-bottom: 1px solid rgba(58, 67, 115, 0.15);
}

.Option--selected {
  color: var(--color-purple);
}
