* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --color-purple: #ad1fea;
  --color-blue: #4661e6;
  --color-light-blue: #62bcfa;
  --color-black: #373f68;
  --color-light-black: #3a4374;
  --color-white: #ffffff;
  --color-gray: #f2f4ff;
  --color-light-gray: #f7f8fd;
  --color-dark-gray: #647196;
  --color-orange: #f49f85;
  --color-red: #d73737;
}

body {
  margin: 0;
  font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light-gray);
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
